sites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.appe
*.bin

# Tags file
tags

*.swp
*.txt

.config/gtk-2.0
.config/menus
.config/pulse
.vim/bundle
./.config/Google Play Music Desktop Player/
.config/chromium/
.vim/tomorrow-theme
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
**/wallpaper.jpg
**/i3/.i3/wallpaper.jpg
