[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:josephemorgan/nvim.git
[submodule "nvim/.config/--force"]
	path = nvim/.config/--force
	url = git@github.com:josephemorgan/nvim.git
