* {
	border: none;
	font-family: "FiraCode Nerd Font Propo";
	font-size: 24px;
	min-height: 0;
}

window#waybar {
	border-radius: 100px;
	background: rgba(0, 10, 22, 0.75);
	color: white;
}

.modules-left {
	padding-left: 20px;
}

.modules-right {
	padding-right: 20px;
}

#workspaces button {
	background: rgba(96, 96, 96, 1);
	padding: 0px 0px;
	margin: 8px 5px;
	min-width: 30px;
	min-height: 30px;
	border-radius: 100px;
	transition: all 0.5s ease;
}

#workspaces button.active {
	background: rgba(200, 200, 200, 1);
	min-width: 50px;
	transition: all 0.5s ease;
}

#window {
	padding: 0px 30px;
}

#clock {
	padding: 0px 30px;
}

#cpu {
	padding: 0px 30px;
}

#custom-notification {
	padding-right: 5px;
}

#custom-notification #icon {
}
